<p>view-profile works!</p>
 <!-- {{service}} -->
{{service}}
<table class="table table-bordered">
    <tr>
        <td>AccountName</td>
        <td>Balance</td>
        <td>Currency</td>
        <td>Action</td>
    </tr>

     <!-- <tr *ngFor="let s of service">
        <td>{{s.user.firstName}}</td> -->
        <!-- <td>
            
            {{account.balance | currency:account.currency}}

        </td>
        <td>{{account.currency}}</td>
        <td><a routerLink="/user/addpayment/{{account.accountId}}">AddPayment</a></td> -->
    <!-- </tr> -->

</table>