<section class="section service border-top">
    <form  [formGroup]="searchForm">
        <div class="container">
        
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h1 text-color">Services</span>
                        <br>
                            <input type="text" class="btn btn-outline-danger btn-round-full" placeholder="Enter Pincode" formControlName="pincode">
                            
                        
                        <!-- <h2 class="mt-3 content-title ">We provide a wide range of creative services </h2> -->
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><img src="assets\icon\hospital.svg" width="50" height="50"> </i>
                        
                        <h4 class="mb-3">Hospitals</h4>
                        <input type="text" ng-model="hospital" formControlName="service" style="display: none;"/>
                        <button class="btn btn-outline-danger btn-round-full" type="submit" (click)="hospitalSearch()" >  Search </button>
                        
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\bag-plus.svg" width="50" height="50"> </object></i>
                        <h4 class="mb-3">Pharmacy</h4>
                        <input type="hidden" value="Pharmacy" name="pharmacysearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit" >  Search  </button>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\bank.svg" width="50" height="50"></object></i>
                        <h4 class="mb-3">Banks</h4>
                        <input type="hidden" value="Bank" name="banksearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">  Search  </button>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\cart4.svg" width="50" height="50"></object></i>
                        <h4 class="mb-3">Grocery Store</h4>
                        <input type="hidden" value="Grocery Store" name="grocerysearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">  Search  </button>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\restaurant.png" width="65	" height="65"></object></i>
                        <h4 class="mb-3">Restaurant</h4>
                        <input type="hidden" value="Restaurant" name="restaurantsearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">  Search  </button>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="ti-pencil-alt"></i>
                        <h4 class="mb-3">Stationary</h4>
                        <input type="hidden" value="Stationary" name="stationarysearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">  Search  </button>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\house-door.svg" width="50" height="50"></object></i>
                        <h4 class="mb-3">House for rent</h4>
                        <input type="hidden" value="House for rent" name="rentsearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">  Search  </button>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\school.png" width="60" height="60"></object></i>
                        <h4 class="mb-3">School</h4>
                        <input type="hidden" value="School" name="schoolsearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">  Search  </button>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\college.png" width="60" height="60"></object></i>
                        <h4 class="mb-3">College</h4>
                        <input type="hidden" value="College" name="collegesearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">  Search </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\truck.svg" width="50" height="50"></object></i>
                        <h4 class="mb-3">Transportation</h4>
                        <input type="hidden" value="Transportation" name="transportsearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">  Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\petrol.png" width="60" height="60"></object></i>
                        <h4 class="mb-3">Petrol Pump</h4>
                        <input type="hidden" value="Petrol Pump" name="petrolsearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit" >    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\tv.svg" width="55" height="55"></object></i>
                        <h4 class="mb-3">Theaters</h4>
                        <input type="hidden" value="Theater" name="theatersearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit" >    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\gym.png" width="55" height="55"></object></i>
                        <h4 class="mb-3">Gyms</h4>
                        <input type="hidden" value="Gym" name="gymsearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit" >    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\tree.svg" width="55" height="55"></object></i>
                        <h4 class="mb-3">Gardens</h4>
                        <input type="hidden" value="Garden" name="gardensearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit" >    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\maid.png" width="65" height="65"></object></i>
                        <h4 class="mb-3">Maids</h4>
                        <input type="hidden" value="Maid" name="maidsearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit" >    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\teacher.png" width="60" height="60"></object></i>
                        <h4 class="mb-3">Tuition Teacher</h4>
                        <input type="hidden" value="Tuition Teacher" name="tuitionsearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit" >    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\laundry.png" width="60" height="60"></object></i>
                        <h4 class="mb-3">Laundry</h4>
                        <input type="hidden" value="Laundry" name="laundrysearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit" >    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\mechanic.png" width="60" height="60"></object></i>
                        <h4 class="mb-3">Mechanics</h4>
                        
                        <button class="btn btn-outline-danger btn-round-full" type="submit" (click)="mechanicSearch()">    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\key.png" width="60" height="60"></object></i>
                        <h4 class="mb-3">Key Makers</h4>
                        <input type="hidden" value="Key Maker" name="keysearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit" >    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\electrician.png" width="65" height="65"></object></i>
                        <h4 class="mb-3">Electricians</h4>
                        <input type="hidden" value="Electrician" name="electriciansearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\carpenter.png" width="60" height="60"></object></i>
                        <h4 class="mb-3">Carpenter</h4>
                        <input type="hidden" value="Carpenter" name="carpentersearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">    Search </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\plumber.png" width="60" height="60"></object></i>
                        <h4 class="mb-3">Plumber</h4>
                        <input type="hidden" value="Plumber" name="plumbersearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class=""><object data="assets\icon\milk.png" width="55" height="55"></object></i>
                        <h4 class="mb-3">Milkmans</h4>
                        <input type="hidden" value="Milkman" name="milkmansearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">    Search  </button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item">
                        <i class=""><object data="assets\icon\newspaper.png" width="55" height="55"></object></i>
                        <h4 class="mb-3">Paperboys</h4>
                        <input type="hidden" value="Paperboy" name="paperboysearch">
                        <button class="btn btn-outline-danger btn-round-full" type="submit">    Search  </button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </section>  	
    
    <!--  Section Services End -->
    