
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 style="text-align:center;">verify otp</h2>
        <form [formGroup]="emailform" (ngSubmit)="emailverify()">
            Email: <h5 style="border: 1px solid gray; padding: 5px; border-radius: 3px;">{{email1}}</h5> 
            <input  formControlName="email" class="form-control" hidden/>
            <br>
            OTP: <input type="number" formControlName="otp" class="form-control" [minlength]="4" [maxlength]="4" />
            <span class="err"
                *ngIf="emailform.get('otp')?.touched && emailform.get('otp')?.hasError('required')">
                Please Enter otp
            </span>
            <br>
            <button type="submit" class="btn btn-primary">send</button>
        </form>
    </div>
  </div>
  <p-dialog  [style]="{width: '45vw'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [transitionOptions]="'100ms'" [(visible)]="display">
    <div class="dialogform" style="overflow: hidden;">
        <form [formGroup]="resetform" (ngSubmit)="resetpassword()">
            <label for="password"> New Password: </label>
            <div class="row">
                <div class="col-md-10">
                    <input type="email" formControlName="email" class="form-control" hidden />
                    <input type="password" formControlName="password" class="form-control" />
                    <span class="err"
                        *ngIf="resetform.get('password')?.touched && resetform.get('password')?.hasError('required')">
                        Please Enter Password
                    </span>
                    <span class="err"
                        *ngIf="resetform.get('password')?.touched && resetform.get('password')?.hasError('minlength')"></span>
                    <!-- <span class="err"
                        *ngIf="resetform.get('password')?.touched && resetform.get('password')?.hasError('strongPassword')">
                        Please Select Strong Password [include <br> 1) [ @ or $ or # ] <br>2) Upper Letter <br>3) Lower Letter ]
                    </span> -->
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" style="width: 100%;">send</button>
                </div>
            </div>
        </form>
    </div>
  </p-dialog>